<div class="grid-container">
  <div class="sidebar">
    <app-entry *ngFor="let entry of this.service.entries" (click)="clickCard(entry)"> 
      <b class="title">{{entry.title}}</b>
      <p class="dates"><a href='https://velorution.ch/event/kidical-mass'>2. April</a></p>
      <p class="dates"><a href='https://velorution.ch/event/kidical-mass-in-st-gallen-zum-zweiten-mal-international'>14. Mai</a></p>
      <p class="dates"><a href='https://www.provelobaden.ch/kidical-mass/'>2. Juli</a></p>
      <p class="dates"><a href='https://provelo-beiderbasel.ch/kidical-mass-basel/'>24. September</a></p>
      <p class="dates"><a href='https://www.becycling.ch/be-active/kidical-mass-bern'>12. November</a></p>
    </app-entry>
  </div>
  <div class="map">
    <app-map></app-map>
  </div>
</div>
