.sidebar {
  background-color: teal;
  overflow-y: scroll;
}
.grid-container {
  display: grid;
  height: 100%;
  min-height: 100%;
  grid-template-columns: 300px 2fr;
}

.entry {
  background-color: white;
  margin: 10px;
  padding: 50px;
  text-align: center;
}
